work_dir: ./work_dir/si/
device: 0
phase: train
save_interval: 1
random_seed: 123
eval_interval: 1
log_interval: 100
evaluate_tool: sclite

# feeder args

feeder: SkeletonFeeder
# [si] for signer independent and [us] for unseen sentence
dataset: mslr_iccv_si
num_worker: 10
feeder_args:
  setting: si
  datatype: skeleton
  split: &split [25, 46, 67, 86]
  norm_point: [0, 25, 46, 67]
  used_part: &used_part ['body', 'hand21', 'mouth_8']

# model args

# load_weights:

model: TwoStream_Cosign
model_args:
  visual_args:
    in_channels: 2
    split: *split
    temporal_kernel: 5
    hidden_size: 1024
    modes: *used_part
    level: '1'
    adaptive: True
    CR_args:
      clip_length: 25
      ratio: 0.2
  conv_type: K3-P2-K3-P2
  loss_weights:
    CR_ConvCTC_static: 1.0
    CR_SeqCTC_static: 1.0
    CR_Conv_static: 2.0
    CR_Seq_static: 2.0
    CR_ConvCTC_motion: 1.0
    CR_SeqCTC_motion: 1.0
    CR_Conv_motion: 2.0
    CR_Seq_motion: 2.0
    CR_ConvCTC_fusion: 1.0
    CR_SeqCTC_fusion: 1.0
    CR_Conv_fusion: 2.0
    CR_Seq_fusion: 2.0
  norm_scale: 32

# optim args

batch_size: 2
test_batch_size: 2 
optimizer_args:
  base_lr: 0.0002
  learning_ratio: 1
  nesterov: false
  optimizer: AdamW
  start_epoch: 0
  step:
  - 20
  - 35
  weight_decay: 0.0001
num_epoch: 40